// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
%ghost-button {
	color: #fefefe;
	text-transform: uppercase;
	border: #fefefe solid 2px;
	border-radius: 8px;
	padding: 0.4rem 1rem;

	&:hover, &:focus {
		text-decoration: none;
	}
}
%default-button {
	position: relative;
	display: block;
  color: #fefefe;
  text-transform: uppercase;
	background: linear-gradient(to bottom, #2A92E5 0%, darken(#2A92E5, 3%) 100%);
	border-top: lighten(#2A92E5, 5%) solid 1px;
	border-bottom: darken(#2A92E5, 5%) solid 2px;
  border-radius: 0.7rem;
	margin: 0 auto;
  padding: 0.5rem 2rem;

	&:hover, &:focus {
		text-decoration: none;
	}

	&:focus {
		top: 1px;
		border-bottom: none;
		border-top: darken(#2A92E5, 7%) solid 1px;
	}
}
//Login Button
.login {
  @extend %ghost-button;
  position: relative;
  top: 8px;
  float: right;
}

.signup-button {
	@extend %ghost-button;
	text-align: center;
	color: #2a92e5;
	border-color: #2a92e5;
	display: block;
	max-width: 200px;
	margin-top: 2rem;
}

html {
  font-size: 18px;
}
#new_user, #edit_user {
  background: white;
	color: #999999;
}

#one-time-pay{
  background-color: white;
}

input[type=range]::-webkit-slider-runnable-track {
  width: 300px;
  height: 5px;
  background: #ddd;
  border: none;
  border-radius: 3px;
}

.login-page {
  background: #2c2e2f;
  color: #fff;
  padding-top: 150px;

  .errors-container {
    margin-bottom: 20px;
    padding: 0 30px;
    font-size: 16px;
    color: #ff0000;
  }
  .new-user {
    background: white;
    color: #999999;
  }
  .input-lg {
    padding: 10px 16px;
    font-size: 17px;
    line-height: 1.33;
    border-radius: 0;
  }
}


// HOMEPAGE
.homepage .pitch, .homepage .overview, .homepage .how-it-works, .homepage .get-started, .homepage header nav, .homepage .how-it-works .wrapper {
	width: 70%;
	max-width: 1024px;
	overflow: hidden;
	margin: 0 auto;
}

// TEMPORARY - remove the paragraph color from xenon.css
.homepage p, .homepage, .homepage ul {
	color: #666;
}

.homepage header[role="banner"] {
	background: url("/images/background.jpg") no-repeat;
	background-size: cover;
	height: 630px;

	nav {
		padding: 2rem;
	}

	.logo {
		display: block;
		max-width: 250px;

		img {
			max-width: 100%;
		}
	}

	.pitch {
		text-align: center;
		padding-bottom: 0.25rem;

		h1, h2 {
			text-transform: uppercase;
			color: #fefefe;
			text-shadow: #333 0 1px 1px;
		}

		h1 {
			font-size: 4rem;
		}

		h2 {
			line-height: 1.8rem;
			margin-bottom: 4rem;
		}
	}

	.calls-to-action {
		a {
			@extend %default-button;
			max-width: 300px;
		}
	}
}

.homepage section {
	overflow: hidden;
	padding: 2rem 0;
}

.homepage section {
	h1 {
		text-align: center;
		color: #666;
		margin: 0 0 2rem;
	}

	.left-column, .right-column {
		width: 50%;
		float: left;

		div {
			margin: 0 0 2rem;
		}

		p {
			text-align: left;
		}

		.title {
			font-size: 1.3rem;
			font-weight: 800;
		}
	}

	.left-column {
		padding-right: 1rem;
	}

	.right-column {
		padding-left: 1rem;
	}
}

.homepage .how-it-works {
	width: 100%;
	max-width: 100%;
	background: linear-gradient(to bottom, #2a92e5 0%, #1c8be3 100%);
	padding: 3rem 0;


	h1, p {
		color: #fefefe;
	}

	p {
		text-shadow: darken(#2a92e5, 25%) 0 1px 0;
	}

	.title {
		color: darken(#2a92e5, 25%);
		font-weight: 800;
	}

	.block {
		width: 33%;
		float: left;
	}

	.block:first-of-type {
		padding-right: 1rem;
	}

	.block:last-of-type {
		padding-left: 1rem;
	}
}

.homepage .features {
	ul {
		padding: 0;
		margin: 0;
	}
}

.homepage .get-started {
	ul {
		margin: 0 0 1rem;
		padding: 0;
		list-style: none;
	}

  .signup-button {
    max-width: 300px;
    color: #fefefe;
    text-transform: uppercase;
    font-size: 1.1rem;
    display: block;
    height: 42px;
    line-height: 42px;
    margin: 0 auto;
    border-radius: 6px;
    padding: 0 10px 0 10px;
    background: #2A92E5;
  }

  .signup-button:hover {
    color: #fefefe;
    display: block;
    height: 42px;
    line-height: 42px;
    padding: 0px 10px 0px 25px;
    background: #2A92E5;
  }

}

.homepage footer.page-footer {
	text-align: center;
	background: #1a1a1a;
	padding: 2rem 0;

	.title, a, span {
		color: #999;
	}

	.title {
		display: block;
	}

	.social {
		width: 300px;
		margin: 0 auto;

		a {
			display: inline-block;
			text-align: center;
			font-size: 1.4rem;
			color: #fefefe;
			padding: 1rem 0.4rem;
		}
	}

	.copyright {
		display: block;
		font-size: 0.8rem;
	}
}

// RESPONSIVE HOMEPAGE
// ipad
@media all and (max-width: 1024px) {
	.homepage {
		header[role="banner"] {
			nav, .pitch {
				width: 100%;
				max-width: 100%;
			}

			.pitch {
				padding: 0 2rem;
			}
		}

		.overview, .get-started {
			max-width: 80%;
			width: 80%;
		}

		.how-it-works {
			width: 100%;
			max-width: 100%;

			.wrapper {
				width: 100%;
				max-width: 100%;
				margin: 0;
				padding: 0 3rem;
			}
		}
	}
}

// iphone 6
@media all and (max-width: 667px) {
	html {
		font-size: 14px;
	}

	.homepage {
		.pitch, header[role="banner"] nav, .overview, .how-it-works, .get-started {
			width: 100%;
			max-width: 100%;
		}

		.overview, .how-it-works, .get-started {
			padding: 2rem;

			p {
				text-align: center !important;
			}

			.title {
				display: block;
				text-align: center;
			}

			.left-column, .right-column {
				text-align: center;
				width: 100%;
				float: none;
				margin: 0;
				padding: 0;
			}
		}

		header[role="banner"] {
			height: 420px;

			.logo {
				max-width: 180px;
			}

			.calls-to-action a {
				font-size: 1.2rem;
			}
		}

		.how-it-works {
			.wrapper {
				width: 100%;
				max-width: 100%;
				margin: 0;
			}

			.block {
				width: 100%;
				float: none;
				margin: 0 0 3rem;
			}
		}

		.get-started .signup-button {
			margin: 2rem auto;
		}

		h1 {
			font-size: 2.4rem !important;
		}

		h2 {
			font-size: 1.5rem !important;
		}
	}
}

// iphone 5
@media all and (max-width: 375px) {
	html {
		font-size: 14px;
	}

	.homepage {
		.pitch, header[role="banner"] nav, .overview, .how-it-works, .get-started {
			width: 100%;
			max-width: 100%;
		}

		.overview, .how-it-works, .get-started {
			padding: 2rem;

			p {
				text-align: center !important;
			}

			.title {
				display: block;
				text-align: center;
			}

			.left-column, .right-column {
				text-align: center;
				width: 100%;
				float: none;
				margin: 0;
				padding: 0;
			}
		}

		header[role="banner"] {
			height: 380px;

			.logo {
				max-width: 180px;
			}

			.calls-to-action a {
				font-size: 1.2rem;
			}

			nav {
				padding: 1rem;
			}
		}

		.how-it-works {
			.wrapper {
				width: 100%;
				max-width: 100%;
				margin: 0;
			}

			.block {
				width: 100%;
				float: none;
				margin: 0 0 3rem;
			}
		}

		.get-started .signup-button {
			margin: 2rem auto;
		}

		h1 {
			font-size: 2.4rem !important;
		}

		h2 {
			font-size: 1.5rem !important;
		}
	}
}
// Animations
@-webkit-keyframes shake {
  0% { -webkit-transform: translate(2px, 0px); border-bottom-color: #FF271C; }
  50% { -webkit-transform: translate(-1px, 0px); }
  20% { -webkit-transform: translate(-3px, 0px); }
  30% { -webkit-transform: translate(0px, 0px); }
  40% { -webkit-transform: translate(1px, 0px); }
  50% { -webkit-transform: translate(-1px, 0px); }
  60% { -webkit-transform: translate(-3px, 0px); }
  70% { -webkit-transform: translate(2px, 0px); }
  80% { -webkit-transform: translate(-1px, 0px); }
  90% { -webkit-transform: translate(2px, 0px); }
  100% { -webkit-transform: translate(1px, 0px); }
}

// Remodal default overrides
.remodal {
  box-shadow: darken(#1ac3d2, 15%) 0 0 8px !important;
  margin: 0 auto;

  &, .remodal * {
    font-family: 'Open Sans', Helvetica, Arial, sans-serif;
  }

  .remodal-close {
    display: none;
  }
}

.remodal-wrapper {
  background: rgba(darken(#1ac3d2, 12%), 0.8) !important;
}

@media all and (max-width: 568px) and (orientation: portrait) {
  input {
    font-size: 2rem !important;
  }

  footer {
    button {
      float: none;
      width: 100%;
      display: block;
    }

    button.previous {
      border: #ccc solid 2px !important;
      margin: 0 0 5px !important;
    }
  }
}

.remodal-wrapper {
  .wsite-placeholder {
    color: #a9a9a9;
  }
  ::-webkit-input-placeholder {
    color: #a9a9a9;
  }
  :-ms-input-laceholder {
    color: #a9a9a9;
  }
  ::-moz-placeholder {
    color: #a9a9a9;
  }
  :-moz-placeholder {
    color: #a9a9a9;
  }
  main {
    position: relative;
    width: 100%;
    height: 100%;
  }

  .error {
    width: 100%;
    padding: 10px 0;
  }

  em.error {
    font-style: normal;
    color: red;
    display: inline-block;
    border-radius: 10px;
    margin: 0 auto;
  }
  img[src*='logo'] {
    display: block;
    max-width: 100%;
    width: 380px;
    min-width: 320px;
    margin: 0 auto;
  }
  .moose-dialog {
    position: absolute;
    top: -150px;
    left: 50%;
    width: 100%;
    margin-left: -50%;
    z-index: 99999;
  }

  .overlay {
    position: absolute; left: 0; top: 0;
    width: 100%;
    height: 100%;
    background: rgba(#2A92E5, 0.65);
    z-index: 1;
    -webkit-filter: blur(1px);
    -moz-filter: blur(1px);
    -o-filter: blur(1px);
    -ms-filter: blur(1px);
    filter: blur(1px);
  }

  .modal {
    display: block;
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 2;
    max-width: 699px;
    min-width: 320px;
    padding: 25px 0;

    .content {
      background: #fefefe;
      padding: 15px;
    }
  }

  .remodal section {
    display: none;

    &.active {
      display: block;
    }

    h1 {
      font-size: 1.5em;
      color: #696969;
    }
  }

  footer {
    overflow: hidden;
    clear: both;
    margin-top: 50px;
  }

  // Forms & Inputs
  label {
    display: none;

    &[for="hide-password"] {
      display: block;
    }
  }

  .group, .multi-group {
    position: relative;
  }

  input, select, textarea {
    text-align: center;
    color: #888888;
    font-size: 32px;
    width: 100%;
    background: none;
    border: 2px solid transparent;
    border-bottom: #ccc solid 2px;
    margin: 0 0 5px;
    padding: 18px 18px 10px;
    outline: none;

    &.error {
      -webkit-animation-name: shake;
      -webkit-animation-duration: 0.3s;
      -webkit-transform-origin:50% 50%;
      -webkit-animation-iteration-count: 1;
      -webkit-animation-timing-function: linear;
    }
  }

  %button {
    line-height: 18px;
    outline: red;
    color: #ccc;
    background: none;
    border: transparent solid 2px;
    border-radius: 24px;
    padding: 13px 25px;
  }

  .previous {
    @extend %button;
    float: left;
    padding-left: 0;
  }

  .continue {
    @extend %button;
    color: #8dc63f;
    border-color: #8dc63f;
    float: right;
    padding-right: 15px;

    i {
      margin-left: 10px;
    }

    &.disabled {
      color: #ccc;
      border-color: #ccc;
    }
  }

  .input-group {
    width: 100%;
    overflow: hidden;

    input {
      width: 80%;
      float: left;
    }

    .checkbox {
      width: 20%;
      float: right;
    }
  }
}

.remodal-wrapper {
  .wsite-placeholder {
    color: #a9a9a9;
  }
  ::-webkit-input-placeholder {
    color: #a9a9a9;
  }
  :-ms-input-laceholder {
    color: #a9a9a9;
  }
  ::-moz-placeholder {
    color: #a9a9a9;
  }
  :-moz-placeholder {
    color: #a9a9a9;
  }
  main {
    position: relative;
    width: 100%;
    height: 100%;
  }

  .error {
    width: 100%;
    padding: 10px 0;
  }

  em.error {
    font-style: normal;
    color: red;
    display: inline-block;
    border-radius: 10px;
    margin: 0 auto;
  }

  .moose-dialog {
    position: absolute;
    top: -150px;
    left: 50%;
    width: 100%;
    margin-left: -50%;
    z-index: 99999;
  }

  .overlay {
    position: absolute; left: 0; top: 0;
    width: 100%;
    height: 100%;
    background: rgba(#2A92E5, 0.65);
    z-index: 1;
    -webkit-filter: blur(1px);
    -moz-filter: blur(1px);
    -o-filter: blur(1px);
    -ms-filter: blur(1px);
    filter: blur(1px);
  }

  .modal {
    display: block;
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 2;
    max-width: 699px;
    min-width: 320px;
    padding: 25px 0;

    .content {
      background: #fefefe;
      padding: 15px;
    }
  }

  .remodal section {
    display: none;

    &.active {
      display: block;
    }

    h1 {
      font-size: 1.5em;
      color: #696969;
    }
  }

  footer {
    overflow: hidden;
    clear: both;
    margin-top: 50px;
  }

  // Forms & Inputs
  label {
    display: none;

    &[for="hide-password"] {
      display: block;
    }
  }

  .group, .multi-group {
    position: relative;
  }

  input, select, textarea {
    text-align: center;
    color: #888888;
    font-size: 32px;
    width: 100%;
    background: none;
    border: 2px solid transparent;
    border-bottom: #ccc solid 2px;
    margin: 0 0 5px;
    padding: 18px 18px 10px;
    outline: none;

    &.error {
      -webkit-animation-name: shake;
      -webkit-animation-duration: 0.3s;
      -webkit-transform-origin:50% 50%;
      -webkit-animation-iteration-count: 1;
      -webkit-animation-timing-function: linear;
    }
  }

  %button {
    line-height: 18px;
    outline: red;
    color: #ccc;
    background: none;
    border: transparent solid 2px;
    border-radius: 24px;
    padding: 13px 25px;
  }

  .previous {
    @extend %button;
    float: left;
    padding-left: 0;
  }

  .continue {
    @extend %button;
    color: #8dc63f;
    border-color: #8dc63f;
    float: right;
    padding-right: 15px;

    i {
      margin-left: 10px;
    }

    &.disabled {
      color: #ccc;
      border-color: #ccc;
    }
  }

  .done {
    @extend %button;
    color: #8dc63f;
    border-color: #8dc63f;
    padding-right: 15px;

    i {
      margin-left: 10px;
    }

    &.disabled {
      color: #ccc;
      border-color: #ccc;
    }
  }

  .input-group {
    width: 100%;
    overflow: hidden;

    input {
      width: 80%;
      float: left;
    }

    .checkbox {
      width: 20%;
      float: right;
    }
  }
}
a.thumbnail {
  text-decoration: none;
}
.grid-header {
  margin-top: 20px;
  h3 {
    display: inline;
    line-height: 50px;
    padding-left: 10px;
  }
}
#bull-card {
  margin-top: 60px;
}
.button-list button {
  margin-right: 5px;
}
.card {
  padding: 20px 10px;
  text-align: center;
  .member-pic, .plan-pic {
    display: block;
    border-radius: 50%;
    height: 96px;
    width: auto;
    margin: -25% auto 26px;
  }
  .member-name, .member-since, .plan-name, .member-count, .company-name {
    display: block;
    color: #3e3f3a;
    font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  }
  .member-email, .plan-cost, .user-name {
    display: block;
    margin-bottom: 6px;
    font-size: 11px;
    color: #98978b;
    text-transform: uppercase;
    text-decoration: none;
  }
  .member-since, .member-count {
    font-size: 12px;
    font-weight: 500;
    text-transform: uppercase;
  }
  .member-subscriptions {
    margin: 16px 0px 0px 0px;
    .plan-header {
      display: block;
      font-size: 12px;
      font-weight: 700;
      color: #3e3f3a;
      text-transform: uppercase;
      text-decoration: none;
    }
    .plan-name {
      display: block;
      font-size: 12px;
      color: #98978b;
      text-decoration: none;
    }
  }
  .card-button-group {
    margin-top: 10px;
  }
}
