div.container
  div.main-container
    div.member-index
      div.row
        div.col-md-12
          h3 Your Account
      hr
      div.container
        div.row
          div.col-md-4
            ul.nav
              li
                a(href="") Account Settings
              li
                a(href="launch") Your Subscriptions
              li
                a(href="plans") Credit Cards
              li
                a(href="members") Payment History
              li
                a(href="account") Logout
          div.col-md-8
