div.container
  div.main-container
      div.row
        div#bull-card.col-md-3
          include bull_card
        div#member-grid.col-md-9
          div.grid-header
            h3 We'll help you get started!
            hr
