doctype html
html
  head
    title= title
    script(language='javascript', src='https://code.jquery.com/jquery-2.2.0.min.js')
    script(language='javascript', src="/js/angular.js")
    script(language='javascript', src="/js/angular-route.js")
    script(language='javascript', src="/js/ngStorage.js")
    script(language='javascript', src="/js/angular-sanitize.js")
    script(language='javascript', src="/js/ui-bootstrap-tpls.js")
    script(language='javascript', src='/js/remodal.js')
    script(language='javascript', src="/js/app.js")
    link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css")
    link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous")
    link(rel='stylesheet', href='/stylesheets/main.css')
    link(rel='stylesheet', href='/stylesheets/xenon-components.css')
    link(rel='stylesheet', href='/css/remodal.css')
    link(rel='stylesheet', href='/css/remodal-default-theme.css')
  body
    block content
